.card-t2{
    display: flex;
    margin: 10px 10px 10px;
    height: 65vh;
    width: 22vw;
    border: 1px solid black;
    border-radius: 0px 0px 0px 0px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.card-t2:hover{
    transform: scale(1.01);
}
.card-label-t2{
    width: 8%;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: flex-start;
    align-self: center;
    gap: 10px;
    
}
.title-t2{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.card-photo-t2{
    width: 92%;
    height: 100%;
}
.image-t2{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 0px 0px;
}