.card-holder-t2{
    display: flex;
    flex-direction: column;
}

.card-group-t2{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.card-bunch-t2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid black;
    padding: 10px 10px 10px 10px; /*top, left, btm , right*/
    
}
.heading-t2{
    font-size: 2rem;
    padding: 10px;
}