.main-content{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 7;
    width: 100vw;
    height: auto;
}
.p2{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* display: none; */
}
.p1{
    display: flex;
}