.card{
    border: 1px solid black;
    width:13vw;
    height: 40vh;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.card-photo{
    border: 1px solid black;
    width: 100%;
    height: 28vh;
}

.card-label{
    padding: 4px 5px;
    width: fit-content;
}



.card-label > h3 {
    font-size: 18px;
    width: 100%;
    max-width: 12vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-label > h3:hover{
    cursor: text;
}


.card-label > p {
    font-size: 14px;
    width: 100%;
    max-width: 12vw;
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    /* text-overflow: ellipsis; */
    /* white-space: normal; */
    word-break: break-all;
    
}

.card-label > p:hover {
    cursor: text;
    width: fit-content;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}